@import "tailwindcss";


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {

}

body {

  font-family: Arial, Helvetica, sans-serif;
}


.title-unsafe .ant-card-head {
  border: 1px solid #ef4444 !important;
  border-radius: 8px;
}

